In [1]:
import pandas as pd
import os

def get_pandas_dataframe_base(path_file_base):
    df = pd.read_csv(path_file_base, sep=';', encoding='utf8')
    return df

In [2]:
base_file_name = 'precos_deral_base.csv'
path_file_base = os.path.join('bases', base_file_name)
df = get_pandas_dataframe_base(path_file_base)
df.tail(5)

,dt_referencia,no_produto,no_indicador,vr_real
34667,2018-04-24,erva-mate,Erva-mate folha em barranco arroba,15.80
34668,2018-04-24,suíno,Suíno em pé tipo carne não integrado kg,2.81
34669,2018-04-24,vaca,Vaca em pé (padrão corte) arroba,128.56
34670,2018-04-24,café beneficiado,Café beneficiado bebida dura - tipo 6 sc 60 Kg,398.02
34671,2018-04-24,mandioca,Mandioca padrão de amido 580 g tonelada,525.86

In [3]:
df = df.pivot(index='dt_referencia', columns='no_indicador', values='vr_real')
df.tail()

no_indicador,Arroz Agulhinha em casca tipo 1 sc 60 Kg,Boi em pé arroba,Café beneficiado bebida dura - tipo 6 sc 60 Kg,Café em coco kg renda,Erva-mate folha em barranco arroba,Feijão Carioca tipo 1 sc 60 Kg,Feijão preto tipo 1 sc 60 Kg,Mandioca padrão de amido 580 g tonelada,Milho amarelo tipo 1 sc 60 Kg,Pesquisa descontinuada (Algodão),Pesquisa descontinuada (Arroz em casca sequeiro),Pesquisa descontinuada (Frango vivo),Soja industrial tipo 1 sc 60 Kg,Suíno em pé tipo carne não integrado kg,Trigo pão PH 78 sc 60 Kg,Vaca em pé (padrão corte) arroba
dt_referencia,,,,,,,,,,,,,,,,
2018-04-18,46.22,141.17,397.98,6.39,15.8,92.04,103.60,534.59,30.55,0.0,0.0,0.0,76.56,2.81,38.66,128.97
2018-04-19,46.22,141.07,397.81,6.39,15.8,96.97,103.80,526.31,30.60,0.0,0.0,0.0,76.00,2.81,38.75,129.12
2018-04-20,46.22,141.06,398.17,6.39,15.8,97.75,104.98,526.31,30.66,0.0,0.0,0.0,75.87,2.81,39.18,128.86
2018-04-23,46.22,141.03,397.36,6.39,15.8,101.70,105.43,525.86,30.66,0.0,0.0,0.0,76.15,2.81,39.19,128.79
2018-04-24,46.22,140.83,398.02,6.38,15.8,102.99,106.94,525.86,30.70,0.0,0.0,0.0,76.09,2.81,39.31,128.56

In [4]:
new_columns = {
    'Café em coco kg renda': 'CAFÉ',
    'Feijão Carioca tipo 1 sc 60 Kg': 'FEIJÃO DE COR',
    'Feijão preto tipo 1 sc 60 Kg': 'FEIJÃO PRETO',        
    'Milho amarelo tipo 1 sc 60 Kg': 'MILHO COMUM',
    'Soja industrial tipo 1 sc 60 Kg': 'SOJA INDUSTRIAL',
    'Trigo pão PH 78 sc 60 Kg': 'TRIGO',
    'Boi em pé arroba': 'BOI',
    'Pesquisa descontinuada (Frango vivo)': 'FRANGO',
    'Suíno em pé tipo carne não integrado kg': 'SUÍNO EM PÉ'
}

df = df.rename(columns=new_columns)
df.tail()

no_indicador,Arroz Agulhinha em casca tipo 1 sc 60 Kg,BOI,Café beneficiado bebida dura - tipo 6 sc 60 Kg,CAFÉ,Erva-mate folha em barranco arroba,FEIJÃO DE COR,FEIJÃO PRETO,Mandioca padrão de amido 580 g tonelada,MILHO COMUM,Pesquisa descontinuada (Algodão),Pesquisa descontinuada (Arroz em casca sequeiro),FRANGO,SOJA INDUSTRIAL,SUÍNO EM PÉ,TRIGO,Vaca em pé (padrão corte) arroba
dt_referencia,,,,,,,,,,,,,,,,
2018-04-18,46.22,141.17,397.98,6.39,15.8,92.04,103.60,534.59,30.55,0.0,0.0,0.0,76.56,2.81,38.66,128.97
2018-04-19,46.22,141.07,397.81,6.39,15.8,96.97,103.80,526.31,30.60,0.0,0.0,0.0,76.00,2.81,38.75,129.12
2018-04-20,46.22,141.06,398.17,6.39,15.8,97.75,104.98,526.31,30.66,0.0,0.0,0.0,75.87,2.81,39.18,128.86
2018-04-23,46.22,141.03,397.36,6.39,15.8,101.70,105.43,525.86,30.66,0.0,0.0,0.0,76.15,2.81,39.19,128.79
2018-04-24,46.22,140.83,398.02,6.38,15.8,102.99,106.94,525.86,30.70,0.0,0.0,0.0,76.09,2.81,39.31,128.56

In [5]:
drop_columns = {
    'Café beneficiado bebida dura - tipo 6 sc 60 Kg',
    'Arroz Agulhinha em casca tipo 1 sc 60 Kg',
    'Erva-mate folha em barranco arroba',
    'Pesquisa descontinuada (Algodão)',
    'Pesquisa descontinuada (Arroz em casca sequeiro)',
    'Vaca em pé (padrão corte) arroba'
}

df = df.drop(drop_columns, axis=1)
df.tail()

no_indicador,BOI,CAFÉ,FEIJÃO DE COR,FEIJÃO PRETO,Mandioca padrão de amido 580 g tonelada,MILHO COMUM,FRANGO,SOJA INDUSTRIAL,SUÍNO EM PÉ,TRIGO
dt_referencia,,,,,,,,,,
2018-04-18,141.17,6.39,92.04,103.60,534.59,30.55,0.0,76.56,2.81,38.66
2018-04-19,141.07,6.39,96.97,103.80,526.31,30.60,0.0,76.00,2.81,38.75
2018-04-20,141.06,6.39,97.75,104.98,526.31,30.66,0.0,75.87,2.81,39.18
2018-04-23,141.03,6.39,101.70,105.43,525.86,30.66,0.0,76.15,2.81,39.19
2018-04-24,140.83,6.38,102.99,106.94,525.86,30.70,0.0,76.09,2.81,39.31

In [7]:
columnsTitles = [
    'CAFÉ',
    'FEIJÃO DE COR',
    'FEIJÃO PRETO',
    'MILHO COMUM',
    'SOJA INDUSTRIAL',
    'TRIGO',
    'BOI',
    'FRANGO',
    'SUÍNO EM PÉ'
]
    
df = df.reindex(columns=columnsTitles)
df.describe()

no_indicador,CAFÉ,FEIJÃO DE COR,FEIJÃO PRETO,MILHO COMUM,SOJA INDUSTRIAL,TRIGO,BOI,FRANGO,SUÍNO EM PÉ
count,2017.000000,2017.000000,2017.000000,2017.000000,2017.000000,2017.000000,2017.000000,2017.000000,2017.000000
mean,5.859653,129.374879,109.899207,22.799197,57.124343,33.398647,116.829534,1.437362,2.964274
std,1.251165,66.893870,36.663990,5.594107,11.975246,7.085983,25.292410,0.931904,0.625796
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4.750000,88.450000,85.970000,19.570000,46.330000,26.260000,95.920000,0.000000,2.390000
50%,6.290000,112.300000,105.030000,21.770000,59.480000,33.900000,114.150000,1.750000,3.060000
75%,6.850000,147.890000,130.050000,24.440000,65.840000,39.080000,142.030000,2.200000,3.510000
max,8.200000,466.400000,220.010000,42.270000,85.070000,50.860000,153.690000,2.940000,4.500000